---
const dataSource = Astro.props?.dataSource;
---

<div class="w-full lg:max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-4">
  <a href={dataSource.path}> 
      <img 
        class="rounded-t-lg w-full" 
        src={dataSource.img}
        alt={dataSource.img_alt}
        title={dataSource.description}
      />
  </a>
  <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        {dataSource.title}
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {dataSource.caption}
      </p>
      <a href={dataSource.path} class="inline-flex items-center text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </a>
  </div>
</div>
